{:mvn/repos 
 {"central"
  {:url "https://repo1.maven.org/maven2/"}
  "clojars"
  {:url "https://repo.clojars.org/"}}

 :paths ["src" "resources" "config"]
 
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner 
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6"
                                                :git/sha "8e78bcc"}}
          :ns-default build}}

 :jvm-opts ["-XX:+UseZGC" "-XX:+ZGenerational" "-XX:MaxRAMPercentage=75"]
 
 :deps
 {ch.qos.logback/logback-classic                    {:mvn/version "1.5.0"}
  org.clojure/clojure                               {:mvn/version "1.12.0"}
  io.github.clingen-data-model/genegraph-framework 
  {:git/sha "4c6397ef3858612f4701faea626fd2e55493f641"}}}
